<section>
  <div class="rentals grid grid-cols-4">
   <div class="retal p-4">
      <h2>Toyota yaris</h2>
      <h3>Type: Eco-car</h3>
      <!-- car info -->
      <div>
         <div>900 บาท/วัน</div>
         <div>for 1 day </div>
      </div>
      <!-- rental price-->
      <div>
         <div>
         <div>Pick-up:</div>
         <div>14 Mar 2022, 10:00</div>
         </div>
         <div>
         <div>Drop - off:</div>
         <div>15 Mar 2022, 10:00</div>
         </div>
      </div>
   <!-- rental period-->
      <div>
         <div>By company</div>
         <div>Sixt</div>
      </div>
   <!-- company who own the rental car -->
   </div>
  </div>
</section>
