<section>
  <div class="rentals grid  gap-4 grid-cols-4">
    <% @cars.each do |car| %>
      <div class="retal p-4 mb-8 bg-yellow-100 ">
        <h2><%= car.short_info %></h2>
        <h3>Type: <%= car.group %></h3>
        <!-- car info -->
        <div>
          <div>900 บาท/วัน</div>
          <div>for 1 day </div>
        </div>
        <!-- rental price-->
        <div>
          <div>
            <div>Pick-up:</div>
            <div>14 Mar 2022, 10:00</div>
          </div>
          <div>
            <div>Drop - off:</div>
            <div>15 Mar 2022, 10:00</div>
          </div>
        </div>
        <!-- rental period-->
        <div>
          <div>Supplier:</div>
          <div><%= car.supplier.name %></div>
        </div>
        <!-- company who own the rental car -->
      </div>
    <% end %>
  </div>
</section>
